@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/700.css";

html {
  font-size: 62.5%;
}

html,
body,
#app {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  font-size: $font-size-base;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  font-family: $roboto;
  color: $neutral-900;
  letter-spacing: -0.015em;
  overflow-y: scroll;
}

body.nav-open {
  overflow-x: hidden;
}

@media (min-width: $bigPhone) {
  body.nav-open main {
    padding-left: 32rem;
  }
}

section {
  padding: 2rem 1.5rem;
}

main {
  width: 100%;
  transition: padding-left .3s ease-out;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
